:root {
  --clr-primary: #27292cd0;
  --clr-background: #d3d3d3;
  --clr-accent: #fc5757;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--clr-background);
  color: var(--clr-primary);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-image: url("../img/double-bubble.png");
  background-blend-mode: soft-light;
}

main {
  width: 90%;
  margin: 5rem auto 0 auto;
}

h1 {
  font-weight: 400;
}

.wrapper {
  flex: 1 0 auto;
}

/* Header */
header {
  display: flex;
  width: 100%;
  flex-direction: row;
}

header nav {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
  border-bottom: 1px solid black;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

header a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--clr-primary);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

header ul a:hover {
  color: var(--clr-accent);
  border-bottom: 1px solid var(--clr-accent);
  transition: all 0.3s ease;
}

/* Content */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.container--featured {
  width: 100%;
  margin: 2rem auto 0 auto;
}

.container__product {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
}

.container__product:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.container__product img {
  max-height: 500px;
  object-fit: cover;
  min-height: 300px;
  object-position: center;
}

.container__product a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.product__info {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.product__info p {
  z-index: 2;
}

.product__info p:hover {
  color: black;
  cursor: pointer;
}

/* Footer */
footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: space-between;
  text-align: center;
  margin: 4rem auto 0 auto;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  color: var(--clr-primary);
}

footer a:hover {
  color: var(--clr-accent);
  border-bottom: 1px solid var(--clr-accent);
  transition: all 0.3s ease;
}

footer p span {
  color: var(--clr-accent);
}

@media (min-width: 1000px) {
  header nav {
    width: 75%;
  }
  .container {
    flex-direction: row;
  }
  main {
    width: 75%;
  }
  .container__product {
    width: 33%;
  }
  .container__product img {
    height: 500px;
  }
  footer {
    flex-direction: row;
    text-align: unset;
    margin: 9rem auto 0 auto;
  }
}
