.container--featured {
  width: 100%;
  margin: 2rem auto 0 auto;
}

.container__product--featured img {
  max-height: 500px;
  min-height: 300px;
}

@media (min-width: 1000px) {
  .container__product--featured {
    width: calc(33% - 24px);
    /* 24 px = magic number to fit inaccuracy with 33% & whatnot */
  }
  .container__product img {
    height: 500px;
  }
}
