/* Header */

.nav__link {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--clr-primary);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: var(--clr-accent);
  border-bottom: 1px solid var(--clr-accent);
  transition: all 0.3s ease;
}

/* Content */

body {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--clr-primary);
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.product__info p {
  z-index: 2;
}

.product__info p:hover {
  color: black;
  cursor: pointer;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

/* Footer */

footer a {
  text-decoration: none;
  color: var(--clr-primary);
}

footer a:hover {
  color: var(--clr-accent);
  border-bottom: 1px solid var(--clr-accent);
  transition: all 0.3s ease;
}

footer p span {
  color: var(--clr-accent);
}
